.recipe-page__inner-container {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.recipe-page__title {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    gap: 50px;

}

.recipe-page__description {
    max-width: 55%;
    height: max-content;
}

.recipe-page__img {
    /*margin-top: 20px;*/
    /*width: calc(100% * (1 / 3) - 0px - 0px);*/
    /*align-self: flex-start;*/
    height: inherit;
    max-height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

.recipe-page__ingredients-nutrients__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*margin-top: 20px;*/
    margin: 20px 0 20px 0;
    font-size: 12px;
}

.recipe-page__ingredients ul {
    list-style: inherit;
    padding-left: 12px;
}

.recipe-page__nutrients {
    display: flex;
    flex-direction: column;

    /*justify-content: flex-start;*/
    /*width: calc(100% * (1 / 3));*/

}

.recipe-nutrients__row-1 {
    padding-right: 100px;
}

.recipe-nutrients__row-2 {
    padding-right: 30px;
}

/*.recipe-page__health-label ul li{*/
/*    display: inline-block;*/
/*}*/

.recipe-page__health-label {
    width: calc(100% * (1 / 2));
    display: flex;
    flex-wrap: wrap;

}

.recipe-page__health-label__li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--dark-bg-font-color);
    background-color: var(--button-color);
    width: fit-content;
    min-width: 60px;
    height: 26px;
    border-radius: 15px;
    font-weight: 500;
    padding: 0 10px 0 10px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 5px;
}