.searchbar__outer-container {
    height: 90px;
    background-color: var(--dark-bg-font-color);
    margin-bottom: 90px;
}

.searchbar__inner-container {
    display: flex;
    justify-content: space-between;
    width: var(--inner-width);
    align-self: center;
}

#search-field {
    width: 200px;
}

#search-btn {
    width: 120px;
    height: 32px;
}

#meal-type-select,
#cuisine-select,
#diet-select {
    text-transform: capitalize;
}