.calc__outer-container {
    min-height: 74vh;
}

.calc__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 35px;
}

.calc__inner-container p {
    font-size: 15px;
}

.calc__subtitle {
    font-weight: 600;
    text-decoration: underline;
}

thead {
    text-transform: capitalize;
}

.calc-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 550px;
    min-height: 200px;
    padding: 10px;
    flex-wrap: nowrap;
}

.calc__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calc__table {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    border-spacing: 0;
    text-align: end;
}

.calc__label {
    text-align: start;
    width: 100px;
}

.calc-amount__total td {
    border-top: 1px solid var(--main-font-color);
}

#product__field,
#amount__field {
    border: 1px solid var(--main-font-color);
}

#product__field {
    width: 212px;
}

#amount__field {
    width: 80px;
}

#add__btn::before {
    content: "+";
    color: var(--dark-bg-font-color);
    padding-right: 10px;
}

#add__btn::after {
    content: none;
}