.calc__outer-container {
    height: 74vh;
}

.calc__inner-container {
    width: calc(100% * (1/2));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px;
    height: 100%;
}

#product__field,
#amount__field {
    border: 1px solid var(--main-font-color);
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #3E3E3E;*/
}

#add__btn::before {
    content: "+";
    color: var(--dark-bg-font-color);
    padding-right: 10px;
}

#add__btn::after {
    content: none;
}
