/*footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*}*/

.footer__outer-container {
    background-color: var(--dark-bg-font-color);
    height: 200px;
}

.footer__inner-container {
    min-width: 100%;
}

.footer__ul {
    color: var(--light-bg-font-color);
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: var(--inner-width);
}

.footer__ul li p {
    padding-top: 5px;
}

.footer__social-card {
    display: flex;
    gap: 10px;
    padding-top: 5px;
}

.footer__social-circle {
    background-color: var(--button-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.footer__social-circle:hover {
    transform: scale3d(1.5, 1.5, 1.5);
}

.footer__social-icon {
    display: flex;
    flex-direction: column;
    padding-top: 24%;
    align-items: center;
}

.footer__svg {
    height: 11px;
    width: 12px;
}